@charset "UTF-8";
/* CSS Document */

html,
html * {
	box-sizing: border-box;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
	
}

/*dropbtn*/
.dropbtntan {
	background-color: #B9A88E;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border-radius: 25px;
	border: 2px #FFFFFF solid;
}

.dropbtndark {
    background-color: #2D2D35;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border-radius: 25px;
	border-color:white;
	border: 2px #FFFFFF solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #9C8C74;
}
/*dropbtn*/

nav {
	background-color:#FFFFFF;
	text-transform: uppercase;
    padding: 10px 10px;
    color: white;
    font-size:14px;
    letter-spacing: .08em;
    font-weight:500;
}

body {
max-width: auto;
margin-left:auto;
margin-right: auto;	
}

img {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.clearfix ul li a {
	color:#2592D8;
	padding: 0 10px;
	margin: 10px 0 0 0;
	float: right;
	font-weight: 500;
	font-size: 11px
}

body {
	margin: 0 auto
}

h1 {
	margin: 40px 0 0 0;
	padding: 20px 5px 0 10px;
	text-align: center;
	color: white;
	font-size: 30px;
	letter-spacing: 6px;
	font-weight: 200;

}
h2 {
	margin: 0 0 30px;
	padding: 5px 5px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	font-weight: 500;
}

.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:#FFFFFF;
	text-decoration: none;
	margin-top:80px;
	
}

.name {
	background-image: url("http://imgur.com/7t4CUSt.jpeg");
	background-size: cover;
/*	height:700px;*/
}

.description {
	padding: 180px 0;
/*	align-content: center;*/
	text-align: center;
	
}

.tan_button {
	text-transform: uppercase;
	margin: 40px 0 20px 0;
}

/*column floated*/
.column {
	float: left;
	text-transform: uppercase;
}

.col {
	float:left;
	padding: 14px 7px 0px;
}



.col-md-one-half {
width: 50%;	
}

.col-lg-one-fourth {
	width: 25%;
}

.info-tan-box {
	background-color: #b9a88e;
	color:#ffffff;
	padding: 30px 20px 30px;
	text-align: center;
	height: 210px;
}

.info-dark-box {
	background-color: #2D2D35;
	color:#ffffff;
	padding: 30px 20px 30px;
	text-align: center;
	height: 210px;
}

div.about{
	padding: 50px 0;
	background-color: #00487C;
	text-align: center;
	width:33.3%;
	color: white;
	/*	width 33% used for columns*/
}
div.portfolio{
	padding: 50px 0;
	background-color: #3E6680; 
	text-align: center;
	width:33.4%;
	color: white;
	/*	width 33% used for columns*/
}
div.contact{
	padding: 50px 0;
	background-color: #3C474B; /*#9EEFE5*/
	text-align: center;
	width:33.3%;
	color: white;
	/*	width 33% used for columns*/
}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear:both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
  padding: 0 0 10px 0;
}
.made {
	color:#2592D8;
	float: left;
	font-weight: 500;
	
}
.copywrite {
	color:#2592D8;
	float: right;
	font-weight: 500;
}
footer {
	text-transform: uppercase;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color:white;
    font-size:11px;
    letter-spacing: .08em;
    font-weight:500;
	margin: 0 0 10px 0;
}

/*
* {
    box-sizing: border-box;
}
*/

/*
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}
*/

/* Center website */
.main {
    margin: auto;
	
}

/*
h1 {
    word-break: break-all;
}
*/

.row {
    margin: 0px -16px 8px;
	
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 0px 8px 8px 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #E4E4E4;
    padding: 10px;
	
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*tablet view*/

@media (max-width: 600px){

nav {
	background-color:#FFFFFF;
	text-transform: uppercase;
    margin-left: auto;
	margin-right: auto;
    color: white;
    font-size:10px;
    letter-spacing: .08em;
    font-weight:500;
	display:table;
}
	
	a {
		width:100%;
		display:block;
		margin: 0px;
		
	}
	ul {
		padding: 0px 0px;
	}

img {
	width:100%;
	max-width: 100%;
	display:block;
	height: auto;
	vertical-align: middle;
}

	.col {
		width:100%;
	}

.clearfix ul li a {
	color:#2592D8;
	padding: 1px 1px;
	width:100%;
	margin: 0px 0;
	float: none;
	
}
	
	li {
		text-align: center;
	}

body {
	margin: 0 auto
}

h1 {
	margin: 0 0 0 0;
	padding: 5px 5px 0 10px;
	text-align: center;
	color: white;
	font-size: 30px;
	letter-spacing: 6px;
	font-weight: 200;

}
h2 {
	margin: 0 0 30px;
	padding: 5px 5px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	font-weight: 500;
}
	

button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:#FFFFFF;
	text-decoration: none;
	margin-top: 20px;
	
}
	

.name {
	background-image: url("http://imgur.com/7t4CUSt.jpeg");
	background-size: cover;
/*	height:700px;*/
}

.description {
	padding: 80px 0 100px 0;
/*	align-content: center;*/
	text-align: center;
	
}

p {
	text-transform: uppercase;
	margin: 10px 0 10px 0;

}


.content{
	align-content: center;
}	
	
/*column floated*/
.column {
	float: none;
	text-transform: uppercase;
	display:block;
	width: 100%;
	
}

        


.info-tan-box {
	background-color: #b9a88e;
	color:#ffffff;
	padding: 30px 20px 30px;
	text-align: center;
}

/*
div.about{
	padding: 50px 0;
	background-color: #00487C;
	text-align: center;
	width: auto;
	color: white;
		width 33% used for columns
}
div.portfolio{
	padding: 50px 0;
	background-color: #3E6680; 
	text-align: center;
	width:auto;
	color: white;
*/
	/*	width 33% used for columns*/
/*}*/
/*
div.contact{
	padding: 50px 0;
	background-color: #3C474B; #9EEFE5
	text-align: center;
	width:auto;
	color: white;
*/
	/*	width 33% used for columns*/
/*}*/

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear:both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: none;
  height: 0;
  font-size: 0;
}
.made {
	color:#2592D8;
	width:100%;
	
	
}
.copywrite {
	width:100%;

}
footer {
	text-transform: uppercase;
    background-color: #FFFFFF;
    color:white;
    font-size:10px;
    letter-spacing: .08em;
    font-weight:500;
	text-align: center;
}

}

