@charset "UTF-8";
/* CSS Document */

html,
html * {
	box-sizing: border-box;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
}

.topnavbar {
  background-color: #333;
  z-index: 1;
  overflow: hidden;
}

/*side nav*/

span {
	color: white;
	background-color: #333;
	float: right;
	padding: 5px 20px;
	font-size: 20px;
	cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/*droplist button*/
.btntan {
	background-color: #B9A88E;
    color: white;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
	border-radius: 25px;
	border: 2px #FFFFFF solid;
}

.btntan:hover {
box-shadow: 0px 0px 25px white;
}

.btndark {
    background-color: #2D2D35;
    color: white;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
	border-radius: 25px;
	border-color:white;
	border: 2px #FFFFFF solid;
}

.btndark:hover {
box-shadow: 0px 0px 25px white;
}

body {
max-width: auto;
margin: 0px auto;
}

img {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1 {
	text-align: center;
	margin: 40px 0 0 0;
	padding: 20px 0px 0 5px;
	color: white;
	font-size: 30px;
	letter-spacing: 6px;
	font-weight: 200;
}

h2 {
	text-align: center;
	margin: 0 0 30px;
	padding: 5px 5px;
	text-transform: uppercase;
	font-size: 12px;
	color: white;
	letter-spacing: 2px;
	font-weight: 500;
}

.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color:#FFFFFF;
	text-decoration: none;
	margin-top:80px;
	
}

.picture {
	background-image: url("https://imgur.com/7t4CUSt.jpeg");
	background-size: cover;
/*	height:700px;*/
}



.description {
	padding: 180px 0;
/*	align-content: center;*/
	text-align: center;
}

/*column floated*/
.column {
	float: left;
	text-transform: uppercase;
}

.col {
	float:left;
	padding: 14px 7px 0px;
}

.col-md-one-half {
width: 50%;	
}

.col-lg-one-fourth {
	width: 25%;
}

.info-tan-box {
	background-color: #b9a88e;
	color:#ffffff;
	padding: 30px 20px 30px;
	text-align: center;
	height: 210px;
}



.info-dark-box {
	background-color: #2D2D35;
	color:#ffffff;
	padding: 30px 20px 30px;
	text-align: center;
	height: 210px;
}

}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear:both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
  padding: 0 0 10px 0;
}
.made {
	color:#2592D8;
	float: left;
	font-weight: 600;
}
.author {
	color:#2592D8;
	float: right;
	font-weight: 600;
}
footer {
	text-transform: uppercase;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color:white;
    font-size:10px;
    letter-spacing: .08em;
    font-weight:500;
	margin: 0 0 10px 0;
}

.row {
    margin: 0px 0px 8px;
	
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 0px 8px 8px 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #E4E4E4;
    padding: 10px;
	
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*tablet view*/

@media (max-width: 600px){
	
img {
	width:100%;
	max-width: 100%;
	display:block;
	height: auto;
	vertical-align: middle;
}

	.col {
		width:100%;
	}

h1 {
	text-align: center;
	margin: 0 0 0 0;
	padding: 5px 5px 0 10px;

}

	
.description {
	padding: 80px 0 100px 0;
}

p {
	text-transform: uppercase;
	margin: 10px 0 10px 0;

}


.content{
	align-content: center;
}	
	
	
	
	
	
	
	
/*column floated*/
.column {
	float: none;
	text-transform: uppercase;
	display:block;
	width: 100%;
	
}


.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear:both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: none;
  height: 0;
  font-size: 0;
}
	
.made {
	color:#2592D8;
	width:100%;
}
	
.author {
	width:100%;

}
footer {
	text-transform: uppercase;
    background-color: #FFFFFF;
    color:white;
    font-size:10px;
    letter-spacing: .08em;
    font-weight:500;
	text-align: center;
}

}