@charset "UTF-8";
/* CSS Document */
nav {
	background-color:#2592D8;
	text-transform: uppercase;
    padding: 10px 10px;
    color: white;
    font-size:14px;
    letter-spacing: .08em;
    font-weight:500;
}

a {
	padding: 10px;
	margin: 0;
	float: right;
}

body {
	margin: 0 auto
}

h1 {
	margin: 0 0;
	padding: 290px 5px 0 5px;
	text-align: center;
	color:white;
	letter-spacing: 2px;
}
h2 {
	margin: 0 0;
	padding: 5px 5px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}

header {
background-image: url("http://imgur.com/7t4CUSt.jpeg");
background-size: cover;
background-position: center;
/*background-color: #B5E2FA;*/
height:800px;
}

p {
	text-transform: uppercase;
}

/*column floated*/
.column {
	float: left;
	text-transform: uppercase;
}


div.about{
	padding: 50px 0;
	background-color: #00487C;
	text-align: center;
	width:33.3%;
	color: white;
	/*	width 33% used for columns*/
}
div.portfolio{
	padding: 50px 0;
	background-color: #3E6680; 
	text-align: center;
	width:33.4%;
	color: white;
	/*	width 33% used for columns*/
}
div.contact{
	padding: 50px 0;
	background-color: #3C474B; /*#9EEFE5*/
	text-align: center;
	width:33.3%;
	color: white;
	/*	width 33% used for columns*/
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.made {
	float: left;
}
.copywrite {
	float: right;
	
}
footer {
	text-transform: uppercase;
    padding: 10px 20px;
    background-color: #2592D8;
    color:white;
    font-size:14px;
    letter-spacing: .08em;
    font-weight:500;
}
