@charset "UTF-8";
/* CSS Document */

html,
html * {
	box-sizing: border-box;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
}

body, html {
    height: 100%;
    margin: 0 auto;
	background: #D4D4D4;

}

main {
	margin: 50px 20px;
	
}

h2 {
	color: #333333;
	text-align: center;
	padding: 20px 0;
	margin: 0 0;
	font-weight: 800;
}

h3 {
	font-weight: 500;
}

body {
  font-family: Verdana, sans-serif;
}

*{
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.cursor {
  cursor: pointer
}

.topnavbar {
  background-color: #333;
  z-index: 1;
  overflow: hidden;
}

/*side nav*/

span {
	color: white;
	background-color: #333;
	float: right;
	padding: 5px 20px;
	margin: 5px;
	font-size: 20px;
	cursor: pointer;
}
.name{
	float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 750px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.backbtn{
	text-align: center;
}



.btn {
	background-color: #333333;
    color: white;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
	border-radius: 25px;
	border-color:white;
	border: 2px #FFFFFF solid;
	text-decoration: none;
}

.btn:hover {
box-shadow: 0px 0px 25px grey;
}


/*gallery view*/

.row {
    margin: 0px -16px 8px;
	
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 0px 8px 8px 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #E4E4E4;
    padding: 10px;
	height: auto;
}

.content:hover {
	box-shadow: 0px 0px 25px grey;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
  padding: 0 0 10px 0;
}

.made {
	color:#2592D8;
	float: left;
	font-weight: 600;
}
.author {
	color:#2592D8;
	float: right;
	font-weight: 600;
}
footer {
	text-transform: uppercase;
    padding: 10px 20px;
    background-color: #D4D4D4;
    color:white;
    font-size:11px;
    letter-spacing: .08em;
    font-weight:500;
	margin: 0 0 10px 0;
}

footer:after {
  content: "";
  display: table;
  clear: both;
}

p {
	text-transform: uppercase;
	margin: 10px 0 10px 0;
}

.resume {
	text-align: center;
	margin: 0 0 50px 0;
}

@media (max-width: 750px){

	.column {
    float: left;
    width: 100%;
}
	
.made {
	color:#2592D8;
	width:100%;
}

.author {
	width:100%;
}
	
footer {
	text-transform: uppercase;
	padding: 10px 20px;
    background-color: #D4D4D4;
    color:white;
    font-size:10px;
    letter-spacing: .08em;
    font-weight:500;
	text-align: center;
}
	
	
	.resume {
	text-align: center;
	margin: 0 0 50px 0;
	max-width:500px;
}
	img {
	text-align: center;
 	margin: 0 auto;
	max-height: 450px;
	max-width: 400px;
		
}
	
}


